{% extends 'home.html' %}


{% block content %}
<center>
    <br>
<h1>About this website</h1>
<br>

<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../static/images/cookie.PNG" style="width:250px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">What You Can Do</h5>
        <p class="card-text">Here, you can build your own address book, add contacts, delete them or edit old ones!</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../static/images/elmo-footer.png" style="width:200px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">How We Built It</h5>
        <p class="card-text">This WebApp was built using Flask for Python.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../static/images/220px-Kermit_the_Frog.jpg" style="width:130px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Questions/Comments?</h5>
        <p class="card-text">We would love to hear your comments about this site and answer your questions.</p>
        <p class="card-text"><small class="text-muted">reach us at GitHub (link below)</small></p>
      </div>
    </div>
  </div>



</center>
{% endblock %}