{% extends 'home.html' %}

{% block content %}
<div class="container">
    <center>

        <h1>Add Contact</h1>

        <div>

            <!-- add form -->
            <form method="POST" action="/add" class="form-group">
                <!-- input for first value -->
                <div>
                    <label for="number1">Add contact:</label><br>
                    <input type="text" id="contactname" name="contactname" placeholder="add contact here" required=""
                        style="width:60%">
                </div>
                <!-- input for second value -->
                <div>
                    <br>
                    <label for="number2">Add number:</label><br>
                    <input type="number" id="contactnumber" name="contactnumber"
                        placeholder="Enter contact phone number" required="" style="width:60%">
                </div>
                <hr>
                <!-- submit button -->
                <div>
                    <br>
                    <!-- <a href="{{url_for('contact_book')}}" class="btn btn-secondary" target="_blank" type="submit"
                        role="button">Add</a> -->
                        <button type="submit" class="btn btn-secondary">submit</button>
                </div>
            </form>
        </div>
    </center>
</div>
{% endblock %}