<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block title %} Sesame book {% endblock %} </title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link href="../static/images/css_footer.css" rel="stylesheet">
</head>



<body style="background-color : #f4f1de; ">
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color : #3c3d41;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color: bisque;">Sesame Book</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/profile" style="color: bisque;">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts" style="color: bisque;">Contact book</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/about" style="color: bisque;">About us</a>
          </li>
        </ul>            
      </div>
      <ul class="navbar-nav ml-auto">
        {% if session['user'] %}
        <li class="nav-item">
          <a class="btn btn-danger " href="/logout" style="color: bisque; ">LogOut</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-primary " href="/login" style="color: bisque;"> LogIn </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>


  {% block content %}

  <div class="container">

    <center>
      <br>
      <h1>Welcome Sesame Friend !</h1>
      <br>
      <img src="../static/images/sesame_photo.png" class="w3-round" alt="Responsive image">
      <br>
      <h2>Let's make a contact book for you !</h2>
      <br>
      <hr>
      <h3>About Sesame Street</h3>
      <p>Sesame Street is an American educational children's television series that combines live-action, sketch comedy,
        animation and puppetry. It is produced by Sesame Workshop (known as the Children's Television Workshop (CTW)
        until June 2000) and was created by Joan Ganz Cooney and Lloyd Morrisett. The program is known for its images
        communicated through the use of Jim Henson's Muppets, and includes short films, with humor and cultural
        references. The series premiered on November 10, 1969, to positive reviews, some controversy,[21] and high
        viewership; it has aired on the US's national public television provider PBS since its debut, with its first run
        moving to premium channel HBO on January 16, 2016, then its sister streaming service HBO Max in 2020.</p>
      <br>
      <br>
    </center>

  </div>




  {% endblock %}


  <!-- footer block -->
  {% block footer %}

  <section style="height:80px;"></section>
  <div class="row" style="text-align:center;">

  </div>
  <!----------- Footer ------------>
  <footer class="footer-bs">
    <div class="row">
      <div class="col-md-6 footer-brand animated fadeInLeft">
        <h2>Sesame Book</h2>
        <p>This website has been written by Hamza Rdaideh, Hesham Marie and Reema Eilouti.</p>
        <p>at <a href="https://www.htu.edu.jo/">Al-Hussein Technical University</a></p>
      </div>

      <div class="col-md-6 footer-social animated fadeInDown">
        <h4>Follow Us</h4>
        <ul>
          <li><a href="https://github.com/HamzaMohammadRdaideh/sesame_book">GitHub</a></li>
          <li><a href="https://www.sesamestreet.org/">Sesame Street</a></li>
        </ul>
      </div>

    </div>
  </footer>



  {% endblock %}


  <!-- scripts block  -->
  {% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous">
    </script>
  <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg="nest"></script>
  {% endblock %}

</body>


</html>